@font-face {
  font-family: 'SAP Business Suite';
  src:
    url('https://pepfsgithub.github.io/sapsac/BusinessSuiteInAppSymbols.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
